<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-signin text-center' }) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Editar usuario</h1>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :password, class: 'sr-only' %> <!--i>(dejar vacio si no requiere cambiar)</i-->
  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Nueva Contraseña' %>
  <% if @minimum_password_length %>
    <!--em><%= @minimum_password_length %> caracteres como minimo</em-->
  <% end %>

  <%= f.label :password_confirmation, class: 'sr-only'%>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirmar Contraseña' %>

  <%= f.label :current_password, class: 'sr-only' %> <!--i>(contraseña actual)</i-->
  <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: 'Contraseña actual' %>

  <%= f.submit "Cambiar", class: 'btn btn-lg btn-primary btn-block' %>
  <br/><br/>
  <h1 class="h3 mb-3 font-weight-normal">Cancelar mi cuenta</h1>

  <%= button_to "Eliminar usuario", registration_path(resource_name), data: { confirm: "Esta seguro?" }, method: :delete, class: 'btn btn-lg btn-primary btn-block' %>

  <%= link_to "Regresar", :back, target: "_self" %>

<% end %>
