<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @stock.item_id %>
</p>

<p>
  <strong>Units:</strong>
  <%= @stock.units %>
</p>

<p>
  <strong>Buy price:</strong>
  <%= @stock.buy_price %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
