<%= form_with(model: item_price, local: true) do |form| %>
  <% if item_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_price.errors.count, "error") %> prohibited this item_price from being saved:</h2>

      <ul>
        <% item_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :variable_price %>
    <%= form.check_box :variable_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
