<div ng-controller="NewSalesController as nsCtrl">

  <%= form_with(url: @url_form, method: @method_form, local: true, id: 'form_order') do %>
  <input type="hidden" id="after_action" name="after_action" value="">
  <div class="row">
    
    <div class="col-lg-8">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-0 border-bottom">
        <%= hidden_field :order, :name %>
        <%= hidden_field :order, :discount_percentage %>
        <h6 class="pb-2 mb-0">{{nsCtrl.orderName}}</h6>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a id="btn_search_items" href="#" target="_self" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#search_items">Buscar Articulo</a>
            <button id="btn_save_order" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#pre_save_order">Guardar</button>
          </div>
        </div>
      </div>

      <div class="row text-muted pt-2 pb-2 border-bottom border-gray" ng-repeat="item in nsCtrl.orderItems">
        <div class="col-sm-12">
          <strong class="text-gray-dark">{{item.name}}</strong>
          <span class="text-gray-dark" ng-if="item.code!=null">CODIGO: <strong>{{item.code}}</strong></span>
        </div>
        <div class="col-md-2 text-nowrap">
          <span ng-click="nsCtrl.decreaseQuantity($index)" class="badge">
            <svg class="bi bi-dash-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            </svg>
          </span>
          <span class="badge badge-secondary badge-pill" ng-click="nsCtrl.showItemDetails($index)">{{item.quantity}}</span>
          <span ng-click="nsCtrl.increaseQuantity($index)" class="badge">
            <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
            </svg>
          </span>
        </div>
        <div class="col-md-5">
          <div>
            precio:
            <strong ng-if="!item.variable_price">${{item.unit_price.toFixed(2)}}</strong>
            <input type="number" ng-if="item.variable_price" ng-model="item.custom_price" ng-change="item.unit_price=item.custom_price; nsCtrl.calculateResume()" required />
            <span class="text-danger" ng-if="item.discount_amount_per_unit!=0">-${{item.discount_amount_per_unit}}</span>
          </div>
        </div>
        <div class="col-md-3">total: ${{(item.quantity * (item.unit_price-item.discount_amount_per_unit)).toFixed(2)}}</div>
        <div class="col-md-2"><a href="" ng-click="nsCtrl.rmvItem($index)" class="badge badge-danger">Remover</a></div>
        <input type="hidden" name="order_items[][item_id]" value="{{item.id}}"/>
        <input type="hidden" name="order_items[][quantity]" value="{{item.quantity}}"/>
        <input type="hidden" name="order_items[][custom_price]" value="{{item.custom_price}}"/>
        <input type="hidden" name="order_items[][discount_amount_per_unit]" value="{{item.discount_amount_per_unit}}"/>
      </div>

      <div class="d-flex align-items-center pt-2" ng-if="nsCtrl.loadingSearchItemCode">
        <strong>Buscando articulo: {{nsCtrl.barCode}} ...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>

    </div>

  </div>
      
  <div class="col-lg-4 pt-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Ticket</span>
      <span class="badge badge-secondary badge-pill">{{nsCtrl.resume.countItems}}</span>
    </h4>
    
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Subtotal</h6>
        </div>
        <span class="text-muted">${{nsCtrl.resume.subtotalAmount}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Promoción % </h6>
          </div>
          <div>
            <input type="input" class="form-control" name="order[discount_percentage]" size="4" ng-model="nsCtrl.orderPercentageDiscount" ng-change="nsCtrl.calculateResume()" />
          </div>
        </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Descuento</h6>
        </div>
        <span class="text-success">${{nsCtrl.resume.discountAmount}}</span>
      </li>
      <!--li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">IVA</h6>
        </div>
        <span class="text-muted">${{nsCtrl.resume.taxAmount}}</span>
      </li-->
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (MXN)</span>
        <strong>${{nsCtrl.resume.totalAmount}}</strong>
      </li>
    </ul>

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="nsCtrl.submitOrder()" ng-disabled="!nsCtrl.enableSubmit">Realizar Venta</button>
  </div>

  <div class="modal fade" id="pre_save_order" tabindex="-1" role="dialog" aria-labelledby="preSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="preSaveModalLabel">Guardar Orden</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="orderName">Nombre Orden</label>
            <input type="input" class="form-control" name="order[name]" id="orderName" aria-describedby="orderNameHelp" ng-model="nsCtrl.orderName">
            <input type="hidden" name="order[order_status_id]" value="1">
            <small id="orderNameHelp" class="form-text text-muted">Nombre para identificar la orden posteriormente</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Guardar Orden</button>
        </div>
      </div>
    </div>
  </div>

  </div>

  <% end %>

  <div class="modal fade" id="set_quantity" tabindex="-1" role="dialog" aria-labelledby="preSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="preSaveModalLabel">Cantidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="modal_item_quantity">Cantidad</label>
            <input type="input" class="form-control" id="modal_item_quantity" ng-model="nsCtrl.focusItemModal.quantity">
          </div>
          <div class="form-group">
            <label for="modal_item_price">Precio Unitario</label>
            <input type="number" class="form-control" id="modal_item_price" ng-model="nsCtrl.focusItemModal.unit_price" disabled>
          </div>
          <div class="form-group">
            <label for="modal_item_discount_per_unit">Descuento Unitario</label>
            <input type="input" class="form-control" id="modal_item_discount_per_unit" ng-change="nsCtrl.focusItemModal.discount_amount_subtotal=(nsCtrl.focusItemModal.quantity*nsCtrl.focusItemModal.discount_amount_per_unit)" ng-model="nsCtrl.focusItemModal.discount_amount_per_unit">
          </div>
          <div class="form-group">
            <label for="modal_item_discount_subtotal">Descuento Subtotal</label>
            <input type="input" class="form-control" id="modal_item_discount_subtotal" ng-change="nsCtrl.focusItemModal.discount_amount_per_unit=(nsCtrl.focusItemModal.discount_amount_subtotal/nsCtrl.focusItemModal.quantity)" ng-model="nsCtrl.focusItemModal.discount_amount_subtotal">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="nsCtrl.calculateResume()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="search_item_code" tabindex="-1" role="dialog" aria-labelledby="preSearchItemCode" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="preSearchItemCode">Articulo por codigo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{nsCtrl.searchItemCodeMessage}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="nsCtrl.calculateResume()">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="search_items" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Articulos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ng-submit="nsCtrl.searchItems()">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="item-name" placeholder="Articulo" ng-model="nsCtrl.searchItemByName" required/>
                <div class="input-group-append">
                  <button type="reset" class="btn btn-outline-secondary">Limpiar</button>
                  <button type="submit" class="btn btn-primary" ng-disabled="nsCtrl.loadingSearchItems">Buscar</button>
                </div>
              </div>
            </div>

            <div class="clearfix">
              <div class="spinner-border text-warning float-right" role="status" ng-if="nsCtrl.loadingSearchItems">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <!--
            <nav aria-label="Page Navigation for items">
              <ul class="pagination justify-content-end">
                <li class="page-item" ng-class="disabled: nsCtrl.foundItems.page-1<=0">
                  <a href="#" target="_self" ng-click="nsCtrl.searchItems(nsCtrl.foundItems.page-1)" class="page-link">Anterior</a>
                </li>
                <li class="page-item" ng-class="disabled: nsCtrl.foundItems.page+1>nsCtrl.foundItems.total_pages">
                  <a href="#" target="_self" ng-click="nsCtrl.searchItems(nsCtrl.foundItems.page+1)" class="page-link">Siguiente</a>
                </li>
              </ul>
            </nav>

            <span>Pagina {{nsCtrl.foundItems.page}} de {{nsCtrl.foundItems.total_pages}}, mostrando {{nsCtrl.foundItems.size}} articulos</span>
            <span>No se encontrarón resultados</span>
            -->
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>CODE</th>
                    <th>Articulo</th>
                    <th>Precio Unitario</th>
                    <th>Existencias</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="foundItem in nsCtrl.foundItems">
                    <td>{{foundItem.code}}</td>
                    <td><a href="" ng-click="nsCtrl.addItem(foundItem)" class="badge badge-primary">Agregar</a> {{foundItem.name}}</td>
                    <!--td>{{foundItem.description}}</td-->
                    <td>{{foundItem.price? '$'+foundItem.price:''}} {{foundItem.variable_price? 'Precio Variable':''}}</td>
                    <td>{{foundItem.stock_units}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="btn_close_search_items" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>