<h2>Orden completada!</h2>

<div ng-controller="PrintOrderController as poCtrl">

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="poCtrl.printOrder(<%= @order.id %>)">Imprimir ticket</button>

</div>