<h2>Ordenes Abiertas</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Articulos</th>
        <th>Subtotal</th>
        <th>Promoción % </th>
        <th>Descuento</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.name %></td>
          <td><%= order.order_status.name %></td>
          <td><%= order.count_items %></td>
          <td><%= order.subtotal_amount %></td>
          <td><%= order.discount_percentage %></td>
          <td><%= order.total_discount %></td>
          <td><%= order.total_amount %></td>
          <td><%= link_to 'Mostrar', order %></td>
          <td><%= link_to 'Editar', edit_order_path(order), target: '_self' %></td>
          <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Nueva Orden', new_order_path, target: '_self' %>
