<div class="form-group row">
	<label for="name" class="col-sm-2 col-form-label">Nombre:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="name" value="<%= @order.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="status" class="col-sm-2 col-form-label">Estado:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="status" value="<%= @order.order_status.name %>">
	</div>
</div>

<div class="row">
  	
    <div class="col-md-8">
    	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		    <h1 class="h2">Articulos de la Orden</h1>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-dark">
					<tr>
						<th>Indice</th>
						<th>CODE</th>
						<th>Articulo</th>
						<th class="text-nowrap">Cantidad</th>
						<th>Precio Unitario</th>
						<th>Subtotal</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @order_items.each_with_index do |order_item, index| %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= order_item.item.code %></td>
						<td><%= order_item.item.name %></td>
						<td><%= order_item.quantity %></td>
						
						<% if order_item.item.item_price.variable_price && order_item.custom_price.present? %>
						<td><%= order_item.custom_price %></td>
						<td><%= order_item.quantity * order_item.custom_price %></td>
						<% else %>
						<td><%= order_item.item.item_price.price %></td>
						<td><%= order_item.quantity * order_item.item.item_price.price %></td>
						<% end %>
						
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
			
	</div>
			
</div>

<div class='float-right'>
	<%= link_to 'Editar', edit_order_path(@order), target: '_self' %> |
	<%= link_to 'Regresar', orders_path %>
</div>