<h2>Realizar pago</h2>

<div ng-controller="SubmitOrderController as soCtrl">

  <%= form_with(url: "/orders/#{@order.id}/complete", method: 'post', local: true, id: 'form_order') do %>
  <div class="row">
    
    <div class="col-lg-8">
      <%= hidden_field :order, :id %>
      <%= hidden_field :order, :name %>
      <h6>{{nsCtrl.orderName}}</h6>

      <h4 class="d-flex justify-content-between align-items-center mb-3 pt-4">
        <span class="text-muted">Ticket</span>
        <span class="badge badge-secondary badge-pill">{{soCtrl.order_resume.count_items}}</span>
      </h4>
      
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Subtotal</h6>
          </div>
          <span class="text-muted">${{soCtrl.order_resume.subtotal_amount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Descuento</h6>
          </div>
          <span class="text-success">${{soCtrl.order_resume.discount_amount}}</span>
        </li>
        <!--li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">IVA</h6>
          </div>
          <span class="text-muted">${{soCtrl.order_resume.tax_amount}}</span>
        </li-->
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (MXN)</span>
          <strong>${{soCtrl.order_resume.total_amount}}</strong>
        </li>
      </ul>

      <div class="form-group row">
        <label for="paid" class="col-sm-4 col-form-label"><h6>Pago</h6></label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="paid" name="order[paid]" min="0" ng-model="soCtrl.paid" step="0.01" autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label for="change" class="col-sm-4 col-form-label"><h6>Cambio</h6></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="change" value="$ {{ (soCtrl.paid-soCtrl.order_resume.total_amount).toFixed(2) }}"disabled>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!((soCtrl.paid-soCtrl.order_resume.total_amount).toFixed(2)>=0)" ondblclick="this.disabled=true;">Realizar Pago</button>

      <div class='float-right pt-4'>
        <%= link_to 'Editar', edit_order_path(@order), target: '_self' %>
      </div>

    </div>

  </div>
  <% end %>

</div>
