<%= form_with(model: stock_history, local: true) do |form| %>
  <% if stock_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_history.errors.count, "error") %> prohibited this stock_history from being saved:</h2>

      <ul>
        <% stock_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.number_field :units %>
  </div>

  <div class="field">
    <%= form.label :buy_price %>
    <%= form.text_field :buy_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
