<p id="notice"><%= notice %></p>

<h1>Stock Histories</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Units</th>
      <th>Buy price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_histories.each do |stock_history| %>
      <tr>
        <td><%= stock_history.item_id %></td>
        <td><%= stock_history.units %></td>
        <td><%= stock_history.buy_price %></td>
        <td><%= link_to 'Show', stock_history %></td>
        <td><%= link_to 'Edit', edit_stock_history_path(stock_history) %></td>
        <td><%= link_to 'Destroy', stock_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock History', new_stock_history_path %>
