<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @stock_history.item_id %>
</p>

<p>
  <strong>Units:</strong>
  <%= @stock_history.units %>
</p>

<p>
  <strong>Buy price:</strong>
  <%= @stock_history.buy_price %>
</p>

<%= link_to 'Edit', edit_stock_history_path(@stock_history) %> |
<%= link_to 'Back', stock_histories_path %>
