<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'form-signin text-center'}) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>

    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Correo', autofocus: '' %>

    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Contraseña' %>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %> Recordar
      </label>
    </div>
  <% end %>

  <%= f.submit "Iniciar sesión", class: 'btn btn-lg btn-primary btn-block' %>

  <%= render "devise/shared/links" %>
  <!--%= link_to "Recuperar Contraseña", new_password_path(resource_name) %--><br />
  <!--%= link_to "Registrar Usuario", new_registration_path(resource_name) %--><br />
<% end %>
