<%= form_with(model: order_history, local: true) do |form| %>
  <% if order_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_history.errors.count, "error") %> prohibited this order_history from being saved:</h2>

      <ul>
        <% order_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :order_status_id %>
    <%= form.text_field :order_status_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
