<h2>Historial de Ordenes</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Fecha Cierre</th>
        <th>Articulos</th>
        <th>Subtotal</th>
        <th>Promoción % </th>
        <th>Descuento</th>
        <th>Total</th>
        <th>Pago</th>
        <th>Cambio</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @order_histories.each do |order_history| %>
        <tr>
          <td><%= order_history.order_id %></td>
          <td><%= order_history.name %></td>
          <td><%= order_history.order_status.name %></td>
          <td><%= order_history.updated_at.in_time_zone('Mexico City').strftime('%Y-%m-%d %H:%M') %></td>
          <td><%= order_history.count_items %></td>
          <td><%= order_history.subtotal_amount %></td>
          <td><%= order_history.discount_percentage %></td>
          <td><%= order_history.total_discount %></td>
          <td><%= order_history.total_amount %></td>
          <td><%= order_history.paid %></td>
          <td><%= order_history.change %></td>
          <td><%= link_to 'Mostrar', order_history, target: "_self" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>