<div class="form-group row">
	<label for="order_id" class="col-sm-2 col-form-label">Orden:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="order_id" value="<%= @order_history.order_id %>">
	</div>
</div>
<div class="form-group row">
	<label for="updated_at" class="col-sm-2 col-form-label">Fecha Cierre:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="updated_at" value="<%= @order_history.updated_at.in_time_zone('Mexico City').strftime('%Y-%m-%d %H:%M') %>">
	</div>
</div>
<div class="form-group row">
	<label for="name" class="col-sm-2 col-form-label">Nombre:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="name" value="<%= @order_history.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="order_status" class="col-sm-2 col-form-label">Estado:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="order_status" value="<%= @order_history.order_status.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="count_items" class="col-sm-2 col-form-label">Articulos:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="count_items" value="<%= @order_history.count_items %>">
	</div>
</div>
<div class="form-group row">
	<label for="subtotal_amount" class="col-sm-2 col-form-label">Subtotal:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="subtotal_amount" value="<%= @order_history.subtotal_amount %>">
	</div>
</div>
<div class="form-group row">
	<label for="discount_percentage" class="col-sm-2 col-form-label">Promoción % :</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="discount_percentage" value="<%= @order_history.discount_percentage %>">
	</div>
</div>
<div class="form-group row">
	<label for="discount" class="col-sm-2 col-form-label">Descuento:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="discount" value="<%= @order_history.total_discount %>">
	</div>
</div>
<div class="form-group row">
	<label for="total_amount" class="col-sm-2 col-form-label">Total:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="total_amount" value="<%= @order_history.total_amount %>">
	</div>
</div>
<div class="form-group row">
	<label for="paid" class="col-sm-2 col-form-label">Pago:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="paid" value="<%= @order_history.paid %>">
	</div>
</div>
<div class="form-group row">
	<label for="change" class="col-sm-2 col-form-label">Cambio:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="change" value="<%= @order_history.change %>">
	</div>
</div>

<div class="row">
  	
    <div class="col-md-12">
    	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
		    <h1 class="h2">Articulos de la Orden</h1>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead class="thead-dark">
					<tr>
						<th>Indice</th>
						<th>Articulo</th>
						<th class="text-nowrap">Cantidad</th>
						<th>Precio Unitario</th>
						<th>Descuento Unitario</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<% @order_item_histories.each_with_index do |order_item_history, index| %>
					<tr>
						<td><%= index+1 %></td>
						<td><%= order_item_history.item_name %></td>
						<td><%= order_item_history.quantity %></td>
						<td><%= order_item_history.item_price %></td>
						<td><%= order_item_history.discount_amount_per_unit %></td>
						<td><%= order_item_history.quantity * (order_item_history.item_price-order_item_history.discount_amount_per_unit) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
			
	</div>
			
</div>

<div ng-controller="PrintOrderController as poCtrl">

	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="poCtrl.printOrder(<%= @order_history.order_id %>)">Re-imprimir ticket</button>

</div>

<div class='float-right'>
	<%= link_to 'Regresar', order_histories_path %>
</div>
