<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :code, 'Codigo', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :code, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :brand_id, 'Marca', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select(:brand_id, Brand.all.collect {|u| [u.name, u.id]}, {}, {:class => "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :item_type_id, 'Tipo Articulo', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select(:item_type_id, ItemType.all.collect {|u| [u.name, u.id]}, {}, {:class => "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name, 'Nombre', :class => "col-sm-2 col-form-label font-weight-bold" %>
    <div class="col-sm-10">
      <%= form.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, 'Descripción', :class => "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :description, :class => "form-control" %>
    </div>
  </div>

  <h4>Precio a la Venta</h4>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="item_price">Precio</label>
    <div class="col-sm-10">
      <% if @item.item_price.present? && (@item.item_price.price.blank? || @item.item_price.price<=0) %>
      <input class="form-control is-invalid" type="text" value="<%= @item.item_price.price if @item.item_price.present?%>" name="item_price[price]" id="item_price">
      <% else %>
      <input class="form-control" type="text" value="<%= @item.item_price.price if @item.item_price.present?%>" name="item_price[price]" id="item_price">
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="variable_price">Precio variable</label>
    <div class="col-sm-10">
      <input class="form-check-input" type="checkbox" value="1" name="item_price[variable_price]" id="variable_price" <%= 'checked' if @item.item_price.present? && @item.item_price.variable_price %>/>
    </div>
  </div>

  <h4>Existencias</h4>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="stock_units">Existencias</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="<%= @item.stock.units if @item.stock.present?%>" name="stock[units]" id="stock_units">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="item_shareable">Articulo para compartir</label>
    <div class="col-sm-10">
      <input class="form-check-input" type="checkbox" value="1" name="stock[item_shareable]" id="item_shareable" <%= 'checked' if @item.stock.present? && @item.stock.item_shareable %>/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="buy_price">Precio de Compra</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="<%= @item.stock.buy_price if @item.stock.present?%>" name="stock[buy_price]" id="buy_price">
    </div>
  </div>

  <h4>Existencias compartidas</h4>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="shared_stock">Existencia compartida</label>
    <div class="col-sm-10">
      <input class="form-check-input" type="checkbox" value="1" name="stock[shared_stock]" id="shared_stock" <%= 'checked' if @item.stock.present? && @item.stock.shared_stock %>/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="shared_stock_item_id">Articulo para consumir</label>
    <div class="col-sm-10">
      <select class="form-control" name="stock[shared_stock_item_id]" id="shared_stock_item_id">
        <option></option>
        <% Item.joins(:stock).where('stocks.item_shareable = true').includes(:stock).order(:name).each do |item_shareable| %>
        <option <%= 'selected' if @item.stock.present? && @item.stock.shared_stock_item_id == item_shareable.id %> value="<%= item_shareable.id %>"><%= item_shareable.name %> existencias: <%= item_shareable.stock.units if item_shareable.stock.present? %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="shared_stock_consume_units">Consumo por este articulo</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="<%= @item.stock.shared_stock_consume_units if @item.stock.present?%>" name="stock[shared_stock_consume_units]" id="shared_stock_consume_units">
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>
