<p id="notice"><%= notice %></p>

<h2>Articulos</h2>

<form action="/items" method="GET">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="item-name" name="like_search" placeholder="Articulo" value="<%= @like_search %>"required />
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Filtrar</button>
      </div>
    </div>
  </div>
</form>          

<nav aria-label="Page Navigation for items">
  <ul class="pagination justify-content-end">
    <li class="page-item <%= 'disabled' if @page-1<=0 %>">
      <%= link_to 'Anterior', items_path(page: @page-1, like_search: @like_search), class: "page-link" %>
    </li>
    <li class="page-item <%= 'disabled' if @page+1>@total_pages %>">
      <%= link_to 'Siguiente', items_path(page: @page+1, like_search: @like_search), class: "page-link" %>
    </li>
  </ul>
</nav>

<% if @items.size > 0 %>
Pagina <%= @page %> de <%= @total_pages %>, mostrando <%= @items.size %> articulos
<% else %>
No se encontrarón resultados
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Codigo</th>
        <th>Marca</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio Publico</th>
        <th>Existencias</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
            <tr>
              <td><%= item.code %></td>
              <td><%= item.brand.name %></td>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td><%= item.item_price.price if item.item_price.present? %></td>
              <td><%= item.stock.units if item.stock.present? %></td>
              <td><%= link_to 'Mostar', item %></td>
              <td><%= link_to 'Editar', edit_item_path(item) %></td>
              <td><%= link_to 'Eliminar', item, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Nuevo Articulo', new_item_path %>
