<h2>Mostrando Articulo</h2>

<p id="notice"><%= notice %></p>

<div class="form-group row">
	<label for="code" class="col-sm-2 col-form-label">Codigo:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="code" value="<%= @item.code %>">
	</div>
</div>
<div class="form-group row">
	<label for="brand" class="col-sm-2 col-form-label">Marca:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="brand" value="<%= @item.brand.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="item_type" class="col-sm-2 col-form-label">Tipo Articulo:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="item_type" value="<%= @item.item_type.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="name" class="col-sm-2 col-form-label font-weight-bold">Nombre:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="name" value="<%= @item.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="description" class="col-sm-2 col-form-label">Descripción:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="description" value="<%= @item.description %>">
	</div>
</div>

<h4>Precio a la Venta</h4>

<div class="form-group row">
    <label class="col-sm-2 col-form-label font-weight-bold" for="item_price">Precio</label>
    <div class="col-sm-10">
      <% if @item.item_price.present? && (@item.item_price.price.blank? || @item.item_price.price<=0) %>
      <input class="form-control is-invalid" type="text" readonly value="<%= @item.item_price.price if @item.item_price.present?%>" id="item_price">
      <% else %>
      <input class="form-control" type="text" readonly value="<%= @item.item_price.price if @item.item_price.present?%>" id="item_price">
      <% end %>
    </div>
</div>

<div class="form-group row">
	<label class="col-sm-2 col-form-label" for="variable_price">Precio variable</label>
	<div class="col-sm-10">
	  <input class="form-check-input" type="checkbox" disabled value="1" name="item_price[variable_price]" id="variable_price" <%= 'checked' if @item.item_price.present? && @item.item_price.variable_price %>/>
	</div>
</div>

<h4>Existencias</h4>

<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="stock_units">Existencias</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" readonly value="<%= @item.stock.units if @item.stock.present?%>" id="stock_units">
    </div>
</div>

<div class="form-group row">
	<label class="col-sm-2 col-form-label" for="item_shareable">Articulo para compartir</label>
	<div class="col-sm-10">
	  <input class="form-check-input" type="checkbox" disabled value="1" name="stock[item_shareable]" id="item_shareable" <%= 'checked' if @item.stock.present? && @item.stock.item_shareable %>/>
	</div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label" for="buy_price">Precio de Compra</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" readonly value="<%= @item.stock.buy_price if @item.stock.present?%>" id="buy_price">
    </div>
</div>

<h4>Existencias compartidas</h4>

<div class="form-group row">
	<label class="col-sm-2 col-form-label" for="shared_stock">Existencia compartida</label>
	<div class="col-sm-10">
	  <input class="form-check-input" type="checkbox" disabled value="1" name="stock[shared_stock]" id="shared_stock" <%= 'checked' if @item.stock.present? && @item.stock.shared_stock %>/>
	</div>
</div>

<div class="form-group row">
	<label class="col-sm-2 col-form-label" for="shared_stock_item_id">Articulo para consumir</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="shared_stock_item_id" value="<%= @item.stock.shared_stock_item_id %>">
	</div>
</div>

<div class="form-group row">
	<label class="col-sm-2 col-form-label" for="shared_stock_consume_units">Consumo por este articulo</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" value="<%= @item.stock.shared_stock_consume_units if @item.stock.present?%>" name="stock[shared_stock_consume_units]" id="shared_stock_consume_units">
	</div>
</div>

<div class='float-right'>
<%= link_to 'Editar', edit_item_path(@item) %> |
<%= link_to 'Regresar', items_path %>
</div>