<%= form_with(model: order_item_history, local: true) do |form| %>
  <% if order_item_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_item_history.errors.count, "error") %> prohibited this order_item_history from being saved:</h2>

      <ul>
        <% order_item_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_history_id %>
    <%= form.text_field :order_history_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.number_field :units %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
