<h2>Historial de Articulos en Ordenes</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Id Orden</th>
        <th>Estado Orden</th>
        <th>Id Articulo</th>
        <th>Articulo</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @order_item_histories.each do |order_item_history| %>
        <tr>
          <td><%= order_item_history.order_id %></td>
          <td><%= order_item_history.order_history.order_status.name %>
          </td>
          <td><%= order_item_history.item_id %></td>
          <td><%= order_item_history.item_name %></td>
          <td><%= order_item_history.quantity %></td>
          <td><%= order_item_history.item_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
