<p id="notice"><%= notice %></p>

<p>
  <strong>Order history:</strong>
  <%= @order_item_history.order_history_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order_item_history.item_id %>
</p>

<p>
  <strong>Units:</strong>
  <%= @order_item_history.units %>
</p>

<%= link_to 'Edit', edit_order_item_history_path(@order_item_history) %> |
<%= link_to 'Back', order_item_histories_path %>
