<p id="notice"><%= notice %></p>

<h1>Order Items</h1>

<table>
  <thead>
    <tr>
      <th>Id Orden</th>
      <th>Nombre Orden</th>
      <th>Id Articulo</th>
      <th>Articulo</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.order_id %></td>
        <td><%= order_item.order.name %></td>
        <td><%= order_item.item.id %></td>
        <td><%= order_item.item.name %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.item.item_price.price %></td>
        <td><%= link_to 'Show', order_order_item_path(order_item.order_id, order_item.id) %></td>
        <td><%= link_to 'Edit', edit_order_order_item_path(order_item.order_id, order_item.id) %></td>
        <td><%= link_to 'Destroy', order_order_item_path(order_item.order_id, order_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Item', new_order_order_item_path %>
