<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order_item.item_id %>
</p>

<p>
  <strong>Units:</strong>
  <%= @order_item.units %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
