<h2>Marcas</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Descripcón</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @brands.each do |brand| %>
        <tr>
          <td><%= brand.name %></td>
          <td><%= brand.description %></td>
          <td><%= link_to 'Mostrar', brand %></td>
          <td><%= link_to 'Editar', edit_brand_path(brand) %></td>
          <td><%= link_to 'Eliminar', brand, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Nueva Marca', new_brand_path %>

