<h2>Mostrando Marca</h2>

<p id="notice"><%= notice %></p>

<div class="form-group row">
	<label for="name" class="col-sm-2 col-form-label">Nombre:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="name" value="<%= @brand.name %>">
	</div>
</div>
<div class="form-group row">
	<label for="status" class="col-sm-2 col-form-label">Descripción:</label>
	<div class="col-sm-10">
	  <input type="text" readonly class="form-control" id="status" value="<%= @brand.description %>">
	</div>
</div>

<div class='float-right'>
<%= link_to 'Editar', edit_brand_path(@brand) %> |
<%= link_to 'Regresar', brands_path %>
</div>