<h2>Articulos Vendidos</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Id Articulo</th>
        <th>Articulo</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |row| %>
        <tr>
          <td><%= row["item_id"] %></td>
          <td><%= row["item_name"] %></td>
          <td><%= row["sum_quantity"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
