<h2>Totales por dia</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Dia</th>
        <th>Total Articulos</th>
        <th>SubTotal Monto</th>
        <th>Total Descuento</th>
        <th>Total Monto</th>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |total| %>
        <tr>
          <td><%= total.created_at %></td>
          <td><%= total.count_items %></td>
          <td><%= total.subtotal_amount %></td>
          <td><%= total.total_discount %></td>
          <td><%= total.total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
