<!DOCTYPE html>
<html ng-app="pos-pape-app" keydown-events>
  <head>
    <title>PosPape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <!--%= controller_name %-->

  <body class="bg-light">

    <!--begin navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white mb-4" ng-controller="NavBarController as navCtrl">
      <a class="navbar-brand" href="/" target="_self">
        <%= image_tag("logo_pape_kary_color.png", :alt => "POS PAPE", width: 75, height: 60) %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/orders/new" target="_self">Nueva Orden<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders" target="_self">Ordenes Abiertas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Historial Ordenes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" target="_self" href="/order_histories?range=day">Ordenes de Hoy</a>
              <a class="dropdown-item" target="_self" href="/order_histories?range=week">Ordenes de la Semana</a>
              <a class="dropdown-item" target="_self" href="/order_histories?range=month">Ordenes del Mes</a>
              <a class="dropdown-item" target="_self" href="/order_histories?range=year">Ordenes del Año</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_self" href="/order_item_histories?range=day">Articulos en Ordenes de Hoy</a>
              <a class="dropdown-item" target="_self" href="/order_item_histories?range=week">Articulos en Ordenes de la Semana</a>
              <a class="dropdown-item" target="_self" href="/order_item_histories?range=month">Articulos en Ordenes del Mes</a>
              <a class="dropdown-item" target="_self" href="/order_item_histories?range=year">Articulos en Ordenes del Año</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reportes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" target="_self" href="/reports/totals_day?range=day">Totales de Hoy</a>
              <a class="dropdown-item" target="_self" href="/reports/totals_day?range=week">Totales de la Semana</a>
              <a class="dropdown-item" target="_self" href="/reports/totals_day?range=month">Totales del Mes</a>
              <a class="dropdown-item" target="_self" href="/reports/totals_day?range=year">Totales del Año</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_self" href="/reports/items?range=day">Articulos vendidos Hoy</a>
              <a class="dropdown-item" target="_self" href="/reports/items?range=week">Articulos vendidos en la Semana</a>
              <a class="dropdown-item" target="_self" href="/reports/items?range=month">Articulos vendidos en el Mes</a>
              <a class="dropdown-item" target="_self" href="/reports/items?range=year">Articulos vendidos en el Año</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Información
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="" target="_self" ng-click="navCtrl.printInfoPape()">Imprimir datos Pape</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administración
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/brands">Marcas</a>
              <a class="dropdown-item" href="/items">Articulos</a>
              <!--a class="dropdown-item" href="/item_prices">Precios</a-->
              <!--a class="dropdown-item" href="/stocks">Existencias</a-->
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="navbarUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarUser">
              <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'dropdown-item' %>
              <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
            </div>
          </li>
        </ul>
      </div>

        
    </nav>
    <!--end navbar-->

    <div class="container-xl">

      <% if notice %>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>

      <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= alert %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>

      <%= yield %>
      
    </div>
    
  </body>
</html>
